* {
    background-color: beige;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#container {
    color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: normal;
    flex-wrap: wrap;
    width: 70%;
}

#container > #display {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color:azure
}

#answer {
    background-color: inherit;
}

#container > .row {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 100%;
    font-size: 400%;
    flex: 0 0 auto;
}

.row > .button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: 25%;
    border: 2px solid black;
    background-color: RGB(200, 240, 240);
    gap: 10px;
    border-radius: 25%;
}

.container > .bottomRow :last-child {
    width: 50%;
}

.row > .symbol {
    background-color: RGB(225, 70, 110);
    color: whitesmoke;
}

.row > .number {
    color: black;
}
